<app-loading *ngIf="loading"></app-loading>
<div class="container nback">

    <div class="row nrow">
        <div class="col-sm Estado-Espera">
            <div class="ntitle" id="Titulo-Espera">Espera</div>

            <div class="ncardcontainer">

                <!-- <div class="card Tarjeta-Pedidos">
                    <div class="card-body">
                        <h5 class="card-title tarjeta-Mesa">Mesa 5</h5>
                        <p class="card-text Tarjeta-Porcion">2 Platos</p>
                        <p class="card-text Tarjeta-Nombre">Choripan</p>
                        <p class="card-text Tarjeta-Tiempo">Tiempo Restante 05:00</p>
                        <a href="#" class="btn btn-primary Tarjeta-boton">Iniciar Preparacion</a>
                    </div>
                    <img src="assets/icons/cocina/time 1.png" class="card-img-top Tarjeta-Cronometro" alt="Cronometro">
                    <img src="assets/icons/cocina/image 1.png" class="card-img-top Tarjeta-Imagen" alt="choripan uwu">
                </div> -->
                <app-ordercard [items]="orders.waiting"></app-ordercard>

            </div>



        </div>
        <div class="nline"></div>
        <div class="col-sm Estado-Prepacion">
            <div class="ntitle" id="Titulo-Preparacion"> Preparación</div>

            <div class="ncardcontainer">

                <!--  <div class="card Tarjeta-Pedidos">
                    <div class="card-body">
                        <h5 class="card-title tarjeta-Mesa">Mesa 5</h5>
                        <p class="card-text Tarjeta-Porcion">2 Platos</p>
                        <p class="card-text Tarjeta-Nombre">Choripan</p>
                        <p class="card-text Tarjeta-Tiempo">Tiempo Restante 05:00</p>
                        <a href="#" class="btn btn-primary Tarjeta-boton">Terminado</a>
                    </div>
                    <img src="assets/icons/cocina/horneando 1.png" class="card-img-top Tarjeta-Cronometro" alt="Cronometro">
                    <img src="assets/icons/cocina/image 1.png" class="card-img-top Tarjeta-Imagen" alt="choripan uwu">
                </div>-->
                <app-ordercard [items]="orders.prepairing"></app-ordercard>

            </div>



        </div>
    </div>
</div>