<div class="container">
    <div class="row">
        <div class="col-md-6" style="position: relative; float:right; margin-top: 50px;">
            <div style="display: inline-block;"><img style="height:80px; width:auto;" src="./../../../../assets/icons/man.svg" />
                <h2 style="display: inline-block; margin-left: 30px;">Listado de empleados</h2>
            </div>

        </div>
    </div>
</div>


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Detalle <b>Empleados</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div style="left: 200px; z-index: 100;" class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="Buscar&hellip;">
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <a href="#addEmployeeModal" data-toggle="modal"><button style="float: right;" class="btn btn-success">Agregar Empleado</button></a>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre <i class="fa fa-sort"></i></th>
                        <th>Email</th>
                        <th>Rol <i class="fa fa-sort"></i></th>
                        <th>Direccion</th>
                        <th>Telefono<i class="fa fa-sort"></i></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui va arreglo de empleados -->
                    <tr *ngFor="let user of users">
                        <td>{{user.id | user}} </td>
                        <td>{{user.usuDet.nombre | user}} {{user.usuDet.apellido}}</td>
                        <td>{{user.email | user}}</td>
                        <td *ngFor="let rol of user.roles">{{rol.nombre}}</td>
                        <td>{{user.usuDet.direcciN | user}}</td>
                        <td>{{user.usuDet.telefono | user}}</td>
                        <td>
                            <a href=" #viewEmployeeModal " class="view " data-toggle="modal ">
                                <i class="material-icons " data-toggle="tooltip " title="View ">&#xE417;</i></a>
                            <a href="#editEmployeeModal " class="edit " data-toggle="modal "><i class="material-icons " data-toggle="tooltip " title="Delete ">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal " class="delete " data-toggle="modal "><i class="material-icons " data-toggle="tooltip " title="Delete ">&#xE872;</i></a>
                        </td>
                    </tr>





                </tbody>
            </table>
            <div class="clearfix ">
                <div class="hint-text ">Listando <b>x</b> de <b>total</b> de empleados</div>
                <ul class="pagination ">
                    <li class="page-item disabled "><a href="# "><i class="fa fa-angle-double-left "></i></a></li>
                    <li class="page-item "><a href="# " class="page-link ">1</a></li>
                    <li class="page-item "><a href="# " class="page-link ">2</a></li>
                    <li class="page-item active "><a href="# " class="page-link ">3</a></li>
                    <li class="page-item "><a href="# " class="page-link ">4</a></li>
                    <li class="page-item "><a href="# " class="page-link ">5</a></li>
                    <li class="page-item "><a href="# " class="page-link "><i class="fa fa-angle-double-right "></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <app-user-modal></app-user-modal>

</div>