.example-card {
    min-width: 250px;
    margin-top: 15px;
    border: solid 1px gray
}

.vertical-card {
    overflow-x: scroll;
    display: block;
    max-height: calc(100% - 70px);
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 5px;
    right: 5px;
}

.inputModal {
    width: 130px;
}