<!-- View Modal HTML -->

<!-- <a [href]="viewEmployeeModal" class="view " data-toggle="modal "><i class="material-icons " data-toggle="tooltip " title="View ">&#xE417;</i></a>
<a href="#editEmployeeModal " class="edit " data-toggle="modal "><i class="material-icons " data-toggle="tooltip " title="Delete ">&#xE254;</i></a>
<a href="#deleteEmployeeModal " class="delete" data-toggle="modal "><i class="material-icons " data-toggle="tooltip " title="Delete ">&#xE872;</i></a> -->




<div id="viewEmployeeModal" class="modal fade" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Jose antonio kast</h4>
            </div>
            <div class="modal-content">

                <img style="margin: 50px;" class="image-user" src="https://pbs.twimg.ng add ngx-bootstrap  --component modalscom/profile_images/1299433058165194752/Oe-b3x_8_400x400.jpg">


                <div class="file-input">
                    <input type="file" name="file-input" id="file-input" class="file-input__input" />

                    <label class="file-input__label" for="file-input">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="upload"
                        class="svg-inline--fa fa-upload fa-w-16"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          fill="currentColor"
                          d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                        ></path>
                      </svg>
                      <span>Cambiar foto</span></label>

                </div>

                <br>

                <h4>Descripción</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sagittis felis, laoreet montes quisque dapibus nunc enim malesuada eleifend, nisi taciti mauris porttitor velit gravida cum orci. Nisi himenaeos sodales egestas vitae libero molestie
                    felis feugiat cubilia, non a scelerisque suspendisse habitant urna facilisis sagittis, consequat dictumst tincidunt enim nascetur vel porttitor erat. Ridiculus phasellus lacus litora pretium a et condimentum, semper augue lectus luctus
                    placerat mattis eleifend, tristique tincidunt sociis aliquam inceptos ut</p>


            </div>

        </div>
    </div>
</div>



<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Añadir Empleado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="Roladd">Rol</label>
                        <select class="form-control" id="Roladd">
                        <option>Cocinero</option>
                        <option>Bodeguero</option>
                        <option>Mesero</option>
                        <option>Something else here</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Añadir">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->

<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Editar Empleado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <form autocomplete="on" [formGroup]='formEditUser'>
                        <div class="row">
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="apellido">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Telefono</mat-label>
                                <input matInput formControlName="telefono">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="direcciN">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Ciudad</mat-label>
                                <input matInput formControlName="ciudad">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="text-style-size col-md-12">
                                <mat-label>Comuna</mat-label>
                                <input matInput formControlName="comuna">

                            </mat-form-field>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Borrar Empleado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Estas seguro que deseas borrar a este empleado?</p>
                    <p class="text-warning"><small>Esta accion no se puede deshacer</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar">
                </div>
            </form>
        </div>
    </div>