:host {
    --nbasewidth: 280px
}

.nnavco {
    --nnavportion: var(--nbasewidth);
    position: fixed;
    height: 100%;
    width: var(--nnavportion);
    left: 0;
    z-index: 100;
}

.basiclayout {
    --nnavportion: var(--nbasewidth);
    position: absolute;
    height: 100%;
    width: calc(100% - var(--nnavportion));
    right: 0;
}

@media (max-width: 1100px) {
    .nnavco,
    .basiclayout {
        --nnavportion: 10px;
    }
}

.basiclayout router-outlet {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    background-image: linear-gradient(#C1E5ED, #FFEEE6);
}